@import '../../styles/variables';

.selection-list {
  padding: 35px 10px;
  text-align: center;

  h1 {
    padding-bottom: 40px;
    font-weight: 100;
    text-align: center;
  }
  .clear-button {
    color: $primary;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    &:visited {
      color: $primary;
    }
    &:hover {
      color: $secondary;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;

    .selection-list-item {
      position: relative;
      background: $light;
      width: 70%;
      margin: 5px auto;
      padding: 10px 5px;
      border-radius: 2px;
      font-size: 0.9em;
      p {
        margin: 0;
        padding: 0 2px 0 0;
        width: 100%;
        line-height: 1em;
        span.index {
          float: left;
        }
        span.text {
          font-weight: bold;
          font-size: 1em;
          text-align: left;
          margin-right: 10%;
        }
        span.pron {
          color: $primary-accent;
          font-size: 0.8em;
          text-align: right;
        }
      }
      &:hover {
        button.remove {
          opacity: 1;
        }
      }

      button.remove {
        cursor: pointer;
        opacity: 0;
        transition-duration: 300ms;
        position: absolute;
        top: -5px;
        right: -2px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        padding: 0;
        border: none;
        background: $secondary;
        text-align: center;
        color: white;
        transform: rotate(45deg);
        border-radius: 50%;
      }
    }
  }
}
