.legend {
  display: flex;
  opacity: 0;
  justify-content: center;
  position: relative;
  animation: fadeIn 200ms ease-in forwards;
  animation-delay: 200ms;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    line-height: 40px;
    margin: 0 2rem;
    font-weight: 100;
    width: 100%;
    &-bullet {
      position: relative;
      width: 10px;
      height: 10px;
      top: 1.5px;
      margin-right: 1rem;
    }

    p {
      color: white;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
