@import '../../styles/variables';

.Input {
  display: flex;
  align-content: center;
  flex-direction: column;

  &_container {
    width: 300px;
    &--is-fluid {
      min-width: 100%;
    }
    height: 40px;
    background: white;
    position: relative;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .Input_icon {
      width: 30px;
      opacity: 0.3;
      position: absolute;
      right: 10px;
    }
    input {
      text-transform: uppercase;
      width: 100%;
      height: 30px;
      background: transparent;
      border: none;
      font-size: 15px;
      outline: none;
      text-align: center;
    }
  }
  &_error {
    height: 15px;
    p {
      animation: alert 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      padding: 4px 0;
      margin: 0;
      font-size: 0.8rem;
      font-style: italic;
      color: $excludeColor;
    }
    text-align: center;
  }

  &_legend {
    text-align: center;
    color: white;
    font-weight: bold;
  }
}
