.SearchToolbar {
  height: 100px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;
  justify-items: stretch;
  &--closed {
    height: 5rem;
  }
  h2 {
    padding: 0;
    margin: 0;
  }
  button {
    margin: 0 10px;
  }
  &_head {
    display: flex;
  }
}
