@import '../../styles/variables';

.Dashboard {
  width: 100%;
  background: white;
  min-height: 100vh;
  padding: 70px;

  .section {
    margin-bottom: 50px;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      &.grid3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .searches {
        &-container {
          margin-top: 40px;
        }
        &-heading {
          display: flex;
          align-items: center;
          position: relative;
          &-title {
            padding-left: 20px;
          }
          &-title:before {
            content: '';
            left: 0;
            top: 15px;
            width: 10px;
            height: 10px;
            position: absolute;
            background: $primary;
            border-radius: 50%;
            display: inline-block;
          }
          .links {
            margin-left: 10px;
            a {
              padding-right: 10px;
              color: $secondary;
              text-decoration: none;
              &.primary {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}
