@import '../../../../styles/variables';

.diaporama {
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    position: relative;
  }

  .slides {
    height: 80%;
    display: flex;
  }

  &-container-footer {
    height: 80px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
