@import '../../styles/variables';

$animation-duration: 50s;

.Hero {
  position: relative;
  height: 600px;
  background: $secondary;
  z-index: 0;
  overflow: hidden;
  &_container {
    max-width: 128rem;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
  }
  &_title {
    width: 100%;
    h1 {
      opacity: 0;
      animation: fadeIn ease-in-out 1s forwards 0.5s;
      font-family: Jaldi, sans-serif;
      color: $white;
      font-size: 6.4rem;
      width: 70%;
      line-height: 1;
      letter-spacing: -0.1rem;
      padding: 10rem 0;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.circles {
  z-index: -1;
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  span:nth-child(1) {
    left: 0%;
    bottom: 0%;
    background: #b2eaea;
    animation: morph $animation-duration linear infinite;
  }
  span:nth-child(2) {
    left: 8%;
    bottom: 8%;
    background: #f49397;
    animation: morph2 $animation-duration linear infinite;
  }
  span:nth-child(3) {
    left: 20%;
    bottom: 20%;
    background: #ffa7d7;
    animation: morph $animation-duration linear infinite;
  }
  span:nth-child(4) {
    left: 25%;
    bottom: 25%;
    background: #ffcf6d;
    animation: morph2 $animation-duration linear infinite;
  }

  &--bottom {
    transform: rotate(180deg);
    top: 40rem;
    bottom: -10rem;
    left: -10rem;
  }
}

@keyframes morph {
  0% {
    transform: scale(1.4) rotate(360deg);
    border-radius: 70% 66% 69% 60% / 91% 80% 74% 80%;
  }
  50% {
    border-radius: 70% 46% 79% 50% / 50% 40% 28% 59%;
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.4) rotate(-360deg);
    border-radius: 70% 66% 69% 60% / 91% 80% 74% 80%;
  }
}

@keyframes morph2 {
  0% {
    transform: scale(0.9) rotate(-360deg);
    border-radius: 70% 66% 69% 60% / 91% 80% 74% 80%;
  }
  50% {
    transform: scale(1) rotate(0);
    border-radius: 70% 46% 79% 50% / 50% 40% 28% 59%;
  }
  100% {
    transform: scale(0.9) rotate(360deg);
    border-radius: 70% 66% 69% 60% / 91% 80% 74% 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
