@import '../../styles/variables';
.SearchHistory {
  .inclusions {
    color: $primary;
  }

  .exclusions {
    color: $secondary;
  }

  .searchButton {
    cursor: pointer;

    background: #ededed;
    border: none;
    &:hover {
      background: $primary;
      color: white;
    }
  }
}
