@import '../../styles/variables';

.ListItem {
  transition-duration: 300ms;
  cursor: pointer;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  box-shadow: rgb(245, 245, 245) 0 0 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.7em;
  color: $dark;
  background: #fdfdfd;
  p:last-of-type {
    color: $primary;
  }
}
