@import '../../styles/variables';

.select-range {
  min-width: 150px;
  position: relative;
  width: 100%;
  &-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #acacac;
  }
  &-inputs {
    &-trigger {
      cursor: pointer;
      font-size: 1.1rem;
      transition-duration: 250ms;
      color: $primary;
      &:hover {
        color: $includeColor;
      }
      span {
        transition-duration: 500ms;
        display: inline-block;
      }
      &--is-open {
        span {
          transform: rotate(540deg);
        }
      }
    }
    &-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      width: 96%;
      margin: 10px 0;
      .from,
      .to {
        width: 40%;
      }

      input {
        padding: 0;
        margin: 0;
        height: 40px;
        line-height: 40px;
        border: 2px solid #ddd;
        font-size: 1.1rem;
        color: $textColor;
        font-weight: bold;
        text-align: center;
        width: 100%;
      }
    }
  }
  .clear-all {
    font-size: 1rem;
    color: $primary;
    &:hover {
      color: $secondary;
      cursor: pointer;
    }
  }
}
