@import '../../styles/variables';
.pophover {
  &-dimmer {
    position: fixed;
    z-index: 1;
    background: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &-container {
    display: none;
    width: 100%;
    position: absolute;
    max-height: 0px;
    background: white;
    box-shadow: rgba($primary, 0.3) 0 20px 60px,
      rgba($secondary, 0.3) 0 20px 20px;
    padding: 25px 10px;
    border-radius: 2px;
    flex-direction: column;
    justify-items: flex-start;

    &--is-open {
      display: flex;
      z-index: 1;
      max-height: 500px;
      animation: slideDown 400ms ease-in forwards;
    }
    &--is-closed {
      display: none;
      max-height: 0;
    }
  }
}
