.empty-placeholder {
  width: 100%;
  text-align: center;
  color: #666;
  align-self: center;
  position: relative;
  top: -10vh;
  &-illustration {
    margin: 50px 0;
    img {
      width: auto;
      height: 25vh;
    }
  }
  h2 {
    font-size: 3rem;
  }
}
