.Home {
  &_screen {
    opacity: 0;
    width: 50%;
    height: 40rem;
    margin: 0 auto -24rem auto;
    position: relative;
    animation: slideUp cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards 1s;
  }

  &_cta {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

@keyframes slideUp {
  0% {
    opaxity: 0;
    top: 100rem;
  }

  100% {
    opacity: 1;
    top: -30rem;
  }
}
