.help {
  &-text {
    visibility: hidden;
    &--is-open {
      visibility: visible;
      animation: slideDown 200ms ease-in forwards;
    }
    &--is-closed {
      opacity: 0;
      animation: slideUp 200ms ease-out forwards;
    }
    width: 80%;
    margin: 0 auto;
    ul {
      margin: 20px;
      li {
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }
}
