@import '../../../../../styles/variables';

.slide {
  display: flex;

  height: 80vh;
  width: 80vw;
  flex-direction: row;
  background: $primary;
  border-radius: 10px;

  &-container {
    &-body {
      &-word {
        background: $primary;
        width: 50%;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
          width: 100%;
          font-size: 5rem;
          word-wrap: line-break;
        }
        .pron {
          font-style: italic;
          font-size: 2rem;
          color: $includeColor;
        }
      }
      &-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        background: #333;
        .main-image-container {
          border-radius: 5px;
          position: relative;
          width: 100.1%;
          height: 100%;
          overflow: hidden;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          img {
            object-fit: cover;
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}
