.title {
  font-family: 'Roboto';
  h1 {
    font-size: 1.8em;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 9%;
  }
  h5 {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6rem;
    color: #464646;
  }
  h6 {
    text-transform: uppercase;
    color: #c0c0c0;
  }
}
