@import '../../styles/variables';

$side-size: 350px;
$spacing: $spacing * 2;

.Search {
  position: relative;
  overflow: hidden;

  &-main-column {
    animation: fadeIn 2000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    h1 {
      height: 30px;
    }
    main {
      .body-container {
        margin: 0 auto;
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0 4px 46px;
      }
    }
  }

  &-selection-column {
    position: relative;
    width: 100%;
    background: white;
  }

  &_form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 5px solid green;
    &--position-is-open {
      border: 5px solid cyan;
    }
  }

  &-grid {
    width: 100%;
    padding-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    .searches {
      &-container {
        margin-top: 40px;
      }
      &-heading {
        display: flex;
        align-items: center;
        position: relative;
        &-title {
          padding-left: 20px;
        }
        &-title:before {
          content: '';
          left: 0;
          top: 15px;
          width: 10px;
          height: 10px;
          position: absolute;
          background: $primary;
          border-radius: 50%;
          display: inline-block;
        }
        .links {
          margin-left: 10px;
          a {
            padding-right: 10px;
            color: $secondary;
            text-decoration: none;
            &.primary {
              color: $primary;
            }
          }
        }
      }
    }
  }

  @media (min-width: $medium) {
    display: grid;
    height: 100%;
    transition-duration: 4s;
    grid-template-columns: minmax($side-size, 30%) auto 15%;
    &--is-selection-open {
      grid-template-columns: minmax($side-size, 30%) auto 15%;
    }
    &-side-column,
    &-main-column,
    &-main-column main {
      height: 100vh;
      .body-container {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.05) 0 4px 46px;
      }
    }
  }
}
