@import '../../styles/variables';

.loading-spinner {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  border: 5px solid rgba($includeColor, 0.2);
  border-radius: 50%;
  border-top-color: $includeColor;
  margin-bottom: 10rem;
  animation: spinner 600ms linear infinite;
}
