@import '../../styles/variables';

$key-size: 4rem;

.Keyboard {
  position: relative;
  width: 100%;
  overflow: hidden;
  &-keys {
    &-row {
      margin: 20px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    &-line {
      display: flex;
      justify-content: center;
    }
    &-key {
      transition-duration: 50ms;
      width: $key-size;
      height: $key-size;
      border: none;
      margin: 4px 4px;
      font-size: 1.7rem;
      font-weight: 100;
      box-shadow: rgb(141, 141, 141) 0 0 3px;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      &:hover {
        transform: scale(1.08);
        box-shadow: rgb(141, 141, 141) 0 3px 5px;
      }
      &--none-state {
        background: white;
        color: $textColor;
      }
      &--include-state {
        background: $includeColor;
        font-weight: bold;
        color: black;
        border: 2px solid white;
      }
      &--exclude-state {
        background: $excludeColor;
        font-weight: bold;
        color: black;
        border: 2px solid white;
      }
    }
  }
}
