@import '../../styles/variables';

.modal {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &-close-button {
    position: absolute;
    right: 2%;
    top: 2%;
    border: none;
    color: $excludeColor;
    font-size: 4rem;
    transform: rotate(45deg);
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover {
      transform: scale(1.1) rotate(45deg);
      color: #fff;
    }
  }
}
