@import '../../styles/variables';

.Button {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  padding: 0.8rem 2rem;
  //   box-shadow: #ddd 0 0 30px;
  border: white 2px solid;
  border-color: $secondary;
  color: $secondary;
  border-radius: 2rem;
  transition-duration: 250ms;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background: $secondary-accent;
    border-color: $secondary-accent;
  }

  &--mini {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 3rem;
  }
  &--big {
    padding: 1.6rem 6rem;
    font-size: 2rem;
    border-radius: 4rem;
  }

  &--filled {
    background: $secondary;
    color: $white;
  }

  &--primary {
    border-color: $primary;
    color: $primary;
    &:hover {
      transform: scale(1.1);
      background: $primary-accent;
      border-color: $primary-accent;
    }
    &.Button--filled {
      background: $primary;
      color: $white;
    }
  }

  &--white {
    border-color: $white;
    color: $white;
    &:hover {
      transform: scale(1.1);
      background: transparent;
      border-color: $white;
    }
    &.Button--filled {
      background: $white;
      color: $secondary;
    }
  }

  &--third {
    border-color: $third;
    color: $third;
    &:hover {
      transform: scale(1.1);
      background: transparent;
      border-color: $third;
    }
    &.Button--filled {
      background: $third;
      color: black;
    }
  }
}
