@import '../../styles/variables';

$lighten: 50%;
$gradientColor: #00a2b1;
$side-size: 350px;
$spacing: $spacing * 2;
.Layout {
  overflow: hidden;

  &_aside {
    background: $secondary;
    position: relative;
    display: flex;
    align-items: center;
    height: $side-size;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: calc(100vh - (#{$menu-horizontal-height}));
  }

  &_main {
    position: relative;
    min-height: 100%;
    max-height: calc(100vh - (#{$menu-horizontal-height}));
    background: $white;
    overflow: auto;
  }
}
