@import '../../styles/variables';

.SearchForm {
  width: 100%;
  height: calc(100vh - (#{$menu-horizontal-height}));
  max-height: calc(100vh - (#{$menu-horizontal-height}));
  margin: 0 50px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .SearchForm_keyboard-container,
  .SearchForm_positions {
    flex-basis: auto;
    animation: 1s ungrow 0s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }

  &--position-is-open {
    .SearchForm_keyboard-container,
    .SearchForm_positions {
      animation: 1s grow 0s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
  }

  &_keyboard-container {
    margin-bottom: 3rem;
  }

  &_positions {
    max-height: 98%;
    overflow: auto;
  }

  &_buttons {
    margin: 0rem 0 2rem 0;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: auto;

    button:first-child {
      margin-bottom: 1rem;
    }
  }
  &-structure-input {
    margin: 9rem 0 3rem 0;
    .Input {
      transition-duration: 250ms;
      width: 100%;
      &:hover {
        transform: scale(0.95);
      }
    }
  }
}

@keyframes grow {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
    height: 100%;
  }
}

@keyframes ungrow {
  0% {
    flex-grow: 1;
    height: 100%;
  }
  100% {
    flex-grow: 0;
  }
}
