@import '../../styles/variables';

.Menu {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 46px;
  .Menu-item {
    text-align: center;
    &--isActive {
      color: $secondary-accent;
      .Icon {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
          brightness(104%) contrast(97%);
      }
    }
    .Icon:hover {
      filter: invert(50%) sepia(100%);
    }
  }
  &.Menu--vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: $menu-vertical-width;
    top: 0;
    bottom: 0;
    left: 0;

    .Menu-items {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: $spacing + 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .Menu-logo {
    position: absolute;
    top: $spacing;
    left: $spacing - 5px;
  }
}
