@import '../../styles/variables';

.position {
  animation: fadeIn 250ms ease-in-out forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

  &-char {
    color: black;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.6rem;
    box-shadow: rgb(141, 141, 141) 0 0 3px;
  }
  &.position--1 {
    color: $includeColor;
    .position-char {
      background: $includeColor;
    }
  }
  &.position--2 {
    color: $excludeColor;
    .position-char {
      background: $excludeColor;
    }
  }

  .position-buttons button {
    border: none;
    transition-duration: 100ms;
    background: white;
    outline: none;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    // height: 2rem;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.08);
    }
  }

  &.position--1 {
    .position-buttons {
      .position-button {
        &--is-selected {
          background: $includeColor;
          color: black;
        }
      }
    }
  }

  &.position--2 {
    .position-buttons {
      .position-button {
        &--is-selected {
          background: $excludeColor;
          color: black;
        }
      }
    }
  }
}
