@import '../../styles/variables';

.word-list {
  margin: $spacing 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
  overflow-y: auto;
}
