@import './variables';
@keyframes alert {
  0% {
    opacity: 0.5;
  }
  20% {
    transform: scale(1.2);
    color: $includeColor;
    font-weight: bold;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 500px;
    height: auto;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    max-height: 500px;
  }
  to {
    opacity: 0;
    max-height: 0px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    border-top-color: orange;
  }
  25% {
    border-top-color: yellow;
  }
  50% {
    transform: rotate(180deg) scale(0.85);
  }
  76% {
    border-top-color: rgba(235, 62, 134, 0.603);
  }
  90% {
    border-top-color: rgb(48, 175, 48);
  }
  100% {
    transform: rotate(360deg) scale(1);
    border-top-color: $excludeColor;
  }
}
