// Menu
$menu-vertical-width: 59px;
$menu-horizontal-height: 59px;

// Layout
$spacing: 20px;
$main-padding-with-vertical-menu: 0 0 0 ($menu-vertical-width);
$main-padding-with-horizontal-menu: ($spacing + $menu-horizontal-height)
  $spacing $spacing $spacing;

// Colors
$primary: #00d6e3;
$primary-accent: #42c2ca;
$secondary: #bfa8ed;
$secondary-accent: #bfa8ed;
$third: #ffcf6d;

$includeColor: $primary;
$excludeColor: #ffcf6d;
$textColor: #767c7c;

$dark: #303030;
$light: #ededed;
$white: #ffffff;

// Responsive
$medium: 720px;
