@import '../../styles/variables';

.Header {
  width: 100%;
  height: $menu-horizontal-height;
  background: $white;
  z-index: 1;
  position: relative;
  padding: 0 2rem;
  border-bottom: 0.3rem $light solid;

  &_nav {
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 1.5rem;
        a {
          text-decoration: none;
          font-size: 1.4rem;
          color: $dark;
          font-weight: bold;
          justify-self: flex-start;
          transition-duration: 300ms;

          &:hover {
            color: lighten($dark, 30%);
          }
        }
      }
    }
  }
  &_user {
    display: flex;
    height: 100%;
    align-items: center;

    &_avatar {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: 2rem;
      overflow: hidden;
      border: $secondary 2px solid;
      border-radius: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &_logo {
    font-weight: 900;
    display: flex;
    align-items: center;
    a {
      font-size: 2.4rem;
      letter-spacing: -2px;
      text-decoration: none;
      color: $secondary;
      transition-duration: 250ms;

      &:hover {
        color: $secondary-accent;
        transform: scale(1.1);
      }
    }
  }

  &_buttons {
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0 0 0 2rem;
      }
    }
  }
}
