@import '../../styles/variables';

.select {
  min-width: 150px;
  z-index: 3;
  position: relative;
  width: 100%;
  &-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #acacac;
  }
  &-options {
    &-trigger {
      cursor: pointer;
      font-size: 1.1rem;
      transition-duration: 250ms;
      color: $primary;
      &:hover {
        color: $includeColor;
      }
      span {
        transition-duration: 500ms;
        display: inline-block;
      }
      &--is-open {
        span {
          transform: rotate(540deg);
        }
      }
    }

    &-container {
      &-list {
        font-weight: 500;
        padding: 0;

        list-style: none;

        li.option {
          font-size: 1.1rem;
          animation: slideDown 400ms ease-in-out forwards;
          position: relative;
          text-align: left;
          margin: 2px;
          padding: 5px 10px;
          height: 30px;
          display: flex;
          align-items: center;
          background: #ededed;
          border-radius: 4px;
          cursor: pointer;
          transition-duration: 400ms;
          &:hover {
            background: $secondary;
          }
          &:last-child {
            border: none;
          }

          span {
            display: inline-block;
            width: 15px;
            height: 15px;
            background: white;
            border: $secondary 1px solid;
            margin-right: 20px;
            line-height: 15px;
            text-align: center;
          }
          &--is-checked {
            background: rgba($secondary, 0.6);
            span {
              background: $secondary;
              color: white;
            }
          }
        }
      }
      .clear-all {
        font-size: 0.6rem;
        color: $primary;
        &:hover {
          color: $secondary;
          cursor: pointer;
        }
      }
    }
  }
}
