@import '../../styles/variables';

$nounColor: rgb(202, 146, 40);
$verColor: rgb(15, 194, 185);
$adjColor: rgb(179, 6, 107);
$onoColor: grey;
$proColor: rgb(120, 187, 76);
$artColor: pink;
$advColor: red;
$preColor: violet;
.word-card {
  opacity: 0;
  animation: fadeIn 800ms ease-in-out forwards;
  width: 15%;
  height: 100px;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  box-shadow: #ddd 0 0 4px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  transition-duration: 250ms;
  &-container {
    text-align: left;
    &-header {
      background: #fafafa;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      padding: 0 5px;
      span {
        color: #333;
        font-size: 0.8rem;
        display: inline-block;
        padding-right: 4px;
      }
      .type {
        font-weight: bold;
        border-radius: 3px;
        margin: 0 3px;
        padding: 3px;
        color: white;
        &--ver {
          background: $verColor;
        }
        &--nom {
          background: $nounColor;
        }
        &--adj {
          background: $adjColor;
        }
        &--ono {
          background: $onoColor;
        }
        &--pro {
          background: $proColor;
        }
        &--art {
          background: $artColor;
        }
        &--adv {
          background: $advColor;
        }
        &--pre {
          background: $preColor;
        }
      }
    }
    &-body {
      padding-top: 30px;

      .text {
        text-align: left;
        font-size: 2rem;
        color: $textColor;
      }
      .pron {
        font-size: 1.2rem;
        font-weight: 100;
      }
    }
  }

  &:hover {
    transform: scale(1.09);
  }
  &--selected {
    border: solid $includeColor 2px;
  }
}
