@import '../../styles/variables';

.PresentationScreen {
  width: 100%;
  height: 100%;
  background: #faffff;
  border-radius: 3rem;
  padding: 1rem;
  font-family: Jaldi, sans-serif;

  display: flex;
  &_left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    text-align: center;
    font-weight: 900;
  }
  &_right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_wordList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 30%;
      margin: 2rem;
      text-align: center;
      box-shadow: rgb(221, 220, 220) 0 0 3rem;
      &:nth-child(1) {
        transform: scale(0.9);
      }
      &:nth-child(2) {
        transform: scale(1.2);
      }
      &:nth-child(3) {
        transform: scale(1.3);
      }
      &:nth-child(4) {
        transform: scale(1);
      }
    }
  }
}
